<main>
  <mat-toolbar color="primary" class="navbar">
    <a id="title" mat-button routerLink="/">{{title}}</a>
    <span id="spacer"></span>
    <a *ngIf="loggedIn" class="home-link" mat-button routerLink="sessions">Sessions</a>
    <a class="home-link" mat-button routerLink="buy-tickets">Buy Tickets</a>
    <a *ngIf="!loggedIn" class="home-link" mat-button routerLink="sign-up">Sign
      Up</a>
    <a *ngIf="!loggedIn" class="home-link" mat-button routerLink="login">Login</a>
    <a *ngIf="loggedIn" class="home-link" mat-button
      (click)="logout()">Log out</a>
  </mat-toolbar>

  <router-outlet #outlet></router-outlet>
  <div id="home-info" *ngIf="!outlet.isActivated">
    <p>Angular Conference</p>
    <p>Be unbounded!</p>
  </div>
</main>