main {
	width: 100%;
	margin: auto;
	background-image: initial;
	background: url('../assets/background.jpeg') no-repeat;
	background-size: cover;
	background-position: center;
	height: 950px;
}

#spacer {
	flex: 1 1 auto;
}

#title {
	font-size: 1.2em;
}

.home-link {
	font-size: 0.8em;
}
