<div class="medium-list">
  <div class="list-viewer-wrapper">
    <div class="list-header-title"></div>

    <form [formGroup]="Sign-upForm" (ngSubmit)="Sign-upForm.valid &&
      onLoginSubmit()" novalidate>
      <div class="form-container">
        <div> <mat-form-field>
            <input id="firstname"
              matInput
              formControlName="firstname"
              [(ngModel)]="user.firstName"
              placeholder="Enter your firstname" />
          </mat-form-field> </div>
        <div> <mat-form-field>
            <input id="lastname"
              matInput
              formControlName="lasttname"
              [(ngModel)]="user.lasttName"
              placeholder="Enter your lastname" />
          </mat-form-field> </div>


        <div> <mat-form-field>
            <input id="email"
              matInput
              formControlName="email"
              [(ngModel)]="user.email"
              placeholder="Enter your email" />
          </mat-form-field></div>

        <div> <mat-form-field>
            <input id="password"
              matInput
              formControlName="password"
              [(ngModel)]="user.password"
              placeholder="Enter your password"
              [type]="hide ? 'password':'text'" />
            <!-- <mat-icon matSuffix (click)="hide = !hide"> -->
            <!-- {{hide ? 'visibility' : 'visibility_off'}} -->
            <!-- </mat-icon> -->
          </mat-form-field></div>

        <div> <button mat-button type="submit"
            class="mat-raised-button mat-primary"
            [disabled]="!Sign-upForm.valid">Register</button>
          <!-- <button mat-button routerLink="/Sign-up" class="divider">Sign-up</button> -->
          <button mat-button routerLink="/login" class="divider"> cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
