mat-card {
	width: 40%;
	margin: auto;
}

form {
	margin: 15px;
}

.full-width {
	width: 100%;
}

.container {
	display: flex;
	justify-content: center;
	padding-top: 10%;
}

mat-form-field {
	width: 100%;
}

.controls {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.controls > * {
	width: 40%;
}
